{
  "presets": [
    [
      "@babel/preset-env",
      "@babel/react", 
      "@babel/typescript",
      {
        "shippedProposals": true,
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ]
  ],
  "ignore": [
    "node_modules",
    "rw-dev-toolbox",
    "*/test"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true } ],
    ["@babel/env", { "modules": false }]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "shippedProposals": true,
            "comments": true,
            "targets": {
              "browsers": [
                "last 2 versions"
              ]
            }
          }
        ]
      ],
      "plugins": [
        "syntax-dynamic-import"
      ]
    }
  }
}
