{
  "presets": [
    [
      "@babel/env",
      "@babel/react", 
      "@babel/typescript",
      {
        "shippedProposals": true,
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import",
    ["@babel/proposal-decorators", { "decoratorsBeforeExport": true } ],
    ["@babel/env", { "modules": false }],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "ignore": [
    "node_modules"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "shippedProposals": true,
            "comments": true,
            "targets": {
              "browsers": [
                "last 2 versions"
              ]
            }
          }
        ]
      ],
      "plugins": [
        "syntax-dynamic-import"
      ]
    }
  }
}
